.root{
    border:solid;
    border-color:red;
    float:left;
    width:100%;
}
.left{
    width:40%;
    border:solid;
    float:left;
}
.right{
    display:flex;
    width:50%;
    height:50%;
    border:solid;
    border-color:blue;
    margin-left:15px;
    float:left;
    position:relative;
}
.panel{
    flex: 1 1 32%;
    height:100%;
    border:solid;
    border-color:red;
    float:left;
}
